# AWS SAM
.aws-sam/

# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Serverless build output
.serverless/